<% provide(:title, 'About') %>
<h1><%= t ".title" %></h1>
<p><%= t ".lead" %></p>

<div class="center">
  <p><i class="icon-envelope"> </i> <%= t "email" %></p>
</div>

<h2><%= t ".faq" %></h2>

  <ol>
    <li>
    <p><strong><%= t ".nowallet.question" %></strong></p>
    <p><%= t ".nowallet.answer" %></p>
    </li>

    <li>
    <p><strong><%= t ".o0confusion.question" %></strong></p>
    <p><%= t ".o0confusion.answer" %></p>
    </li>

    <li>
    <p><strong><%= t ".blockchainlink.question" %></strong></p>
    <p><%= t ".blockchainlink.answer" %></p>
    </li>

    <li>
    <p><strong><%= t ".profit.question" %></strong></p>
    <p><%= t ".profit.answer" %></p>
    </li>

    <li>
    <p><strong><%= t ".donations.question" %></strong></p>
    <p><%= t ".donations.answer" %></p>
    </li>

    <li>
    <p><strong><%= t ".ownmachine.question" %></strong></p>
    <p><%= t ".ownmachine.answer" %></p>
    </li> 
  </ol>
