<h1 class="center"><%= t ".title" %></h1>

<p><%= t ".lead" %></p>

<ol>
  <% t(:'.threesteps').each_line do |point| %>
  <li><%= point %></li>
  <% end %>
</ol>

<p><%= t ".learnmore" %><%= link_to t(".about_link"), about_path %>.</p>

<div class="redeem-linkbox">
  <p><%= t ".alreadybought" %></p>
  <p><%= link_to t(".redeem_button"), redeem_path, class: "btn btn-large btn-primary" %></p>
</div>

