  <h1>Aufstellungsorte</h1>
  <p>
  Der Kondocoin ist nur auf Veranstaltungen verfügbar, d.h. die meiste Zeit ist er bei Mathias zu Hause. Er freut sich aber schon auf den nächsten Event!
  </p>


  <h3>30. Chaos Communication Congress</h3>
  <p>Der 30C3 war super! <%= link_to "@ubahnverleih", "http://www.twitter.com/ubahnverleih" %> und <%= link_to "@thomersch", "http://www.twitter.com/thomersch" %> haben ein kleines Video gedreht und mir freundlicherweise erlaubt, es hier einzubinden:</p>
  <p>
  <%= videojs_rails sources: { mp4: video_path("30c3-kondocoin.mp4"), webm: video_path("30c3-kondocoin.webm") }, width:"640", height:"360" %>
  </p>
  <p>Wie ihr im Video sehen könnt ist das Herausnehmen der Pappschachtel etwas schwergängig. Das ist allerdings durchaus so gewollt: In dem Moment, in dem die Pappschachtel rausgezogen wird, fällt im Automat von oben eine Falle herunter. Diese verhindert, dass man mehrere Packungen auf einmal entnehmen kann. Insofern müsst ihr einfach etwas ziehen :-)
  </p>

  <h3>MRMCD 2013</h3>
  <p>
  Der Kondocoin war auf der <%= link_to "MRMCD 2013 in Darmstadt", "http://mrmcd.net" %>:
  </p>
  <p>
  <%= image_tag("mrmcd2013-600x450.jpg", :border => 0)%>

  </p>

