<% provide(:title, 'Redeem') %>

<div class="hero-unit">
  <h1>Redeem your voucher now!</h1>
  <p>Tagline</p>

  <p>
  <%= form_for(:voucher, url: redeem_path) do |f| %>
    <%#=render 'shared/error_messages' %>
    <%= f.label :code1 %> <%= f.text_field :code1 %>
    <%= f.label :code2 %>
    <%= f.text_field :code2 %>
    <%= f.label :code3 %>
    <%= f.text_field :code3 %>
    <%= f.label :code4 %>
    <%= f.text_field :code4 %>
    <%= f.label :btc_address %>
    <%= f.text_field :btc_address %>

    <%= f.submit "Claim now", class: "btn btn-large btn-primary" %>
  <% end %>
  </p>
</div>
