<% provide(:title, 'Redeem') %>

<h1><%= t ".title" %></h1>

  <p><%= t(".lead") %></p>
  
  <h2><%= t(".step1_title") %></h2>
  <p><%= t(".step1_text") %></p>
  <div class="form-inline">
  <%= form_for(:voucher, url: redeem_path) do |f| %>
    <ul class="inline vouchercode">
      <li><%= f.text_field :code1, :class => "center codefield input-block-level", :length => 4, placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code2,  :class => "center codefield input-block-level", placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code3,  :class => "center codefield input-block-level", placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code4, :class => "center codefield input-block-level",  placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code5, :class => "center codefield input-block-level",  placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code6, :class => "center codefield input-block-level",  placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
    </ul>
  <p><%= f.submit t(".step1_submit_button"), class: "btn btn-large btn-primary" %><p>
  <% end %>
</div>
