<% provide(:title, 'Redeem') %>

  <h1>Redeem your voucher now!</h1>

  <p>Redeeming your voucher is a two-step process. First, you need to enter the voucher code. If it is valid, you will be redirected to a second step where you can enter your wallet id. Please create a wallet if you don't have one yet. For beginners, I recommend the <a href="http://electrum.org">Electrum wallet</a>.</p>
  
  <h2>Step 1: Enter your voucher code</h2>
  <p>Only the letters a-f and the number 0-9 are used within your voucher code. If you enter a O as in Octopus, try entering a 0 as in 007.</p>
  <div class="form-inline">
  <%= form_for(:voucher, url: redeem_path) do |f| %>
    <ul class="inline vouchercode">
      <li><%= f.text_field :code1, :class => "center codefield input-block-level", :length => 4, placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code2,  :class => "center codefield input-block-level", placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code3,  :class => "center codefield input-block-level", placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code4, :class => "center codefield input-block-level",  placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code5, :class => "center codefield input-block-level",  placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
      <li class="codefield">&mdash;</li>
      <li><%= f.text_field :code6, :class => "center codefield input-block-level",  placeholder: "0000", size: "4", pattern: "[A-Fa-f0-9]{4}" %></li>
    </ul>
  <p><%= f.submit "Verify voucher now", class: "btn btn-large btn-primary" %><p>
  <% end %>
</div>
