<% provide(:title, 'Redeem') %>

  <h1><%= t ".title" %></h1>

  <p><%= t(".lead") %></p>

  <p><%= t ".lead1" %> <%= localize(@last_ticker_timestamp, :format => :short) %>
  <%= t ".lead2" %> <%= "%3.4f" % @current_btc_value %> BTC (1 BTC = <%= "%3.4f" % @last_euro_ticker %> <%= t ".lead3" %></p>

  <h2><%= t ".step2_title" %></h2>
  <p><%= t ".step2_text" %></p>
  <div class="form-inline">
    <%= form_for(:voucher, url: payout_path) do |f| %>
    <ul class="inline">
      <li><%= f.text_field :btc_address, :length => 30, :size => 30, :class => "input-xlarge", :placeholder => "1pznyMYhzcqYT6Ft1NyoHfrMvUF7651PC" %></li>
      <li><%= f.submit t(".step2_submit_button"), class: "btn btn-primary" %><li>
    </ul>
    <% end %>
  </div>
